<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Clean Section</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="doPostData()" #addForm="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type="text" name="id" [(ngModel)]="field.id"
                                            #id="ngModel" [hidden]="!edited">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Section" type="text" name="sectionName"
                                            [(ngModel)]="field.sectionName" #sectionName="ngModel">
                                        <div *ngIf="sectionName.invalid && (sectionName.dirty || sectionName.touched)"
                                            class="has-danger">
                                            <div class="form-control-feedback" *ngIf="sectionName.errors.required">
                                                Section is required.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" *ngIf="displaySave"
                                class="btn btn-success pull-right">Save</button>
                            <button mat-raised-button type="submit" *ngIf="!displaySave"
                                class="btn btn-info pull-right">update</button>
                            <button mat-raised-button type="button" *ngIf="!displaySave" (click)="doCancel()"
                                class="btn btn-danger pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Data Clean Section</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <th>Section Name</th>
                                <th class="td-actions">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sections of section">
                                    <td>{{sections.sectionName}}</td>
                                    <td class="td-actions">
                                        <button mat-raised-button type="button" matTooltip="Edit Task"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon"
                                            (click)="doGetDataByID(sections.kodeSection)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                                            (click)="doDelete(sections.kodeSection)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>