<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Add Crew Schedul</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="doPostData()" #addForm="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" type="text" name="id" [(ngModel)]="field.id"
                                            #id="ngModel" [hidden]="!edited">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <label for="inputState">Nama Crew</label>
                                        <mat-select id="inputState" class="form-control" name="nik"
                                            [(ngModel)]="field.nik" #nik="ngModel">
                                            <mat-option *ngFor="let obj of listCrew" [value]="obj.nik">
                                                {{obj.nama}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Start Date ex : 8:00" type="text" name="startTime"
                                            autocomplete="off" [(ngModel)]="field.startTime" #startTime="ngModel"
                                            (keypress)="numberOnly($event)" required>
                                        <div class="alert alert-danger"
                                            *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)">
                                            <button mat-button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                                <i class="material-icons">close</i>
                                            </button>
                                            <span *ngIf="startTime.errors.required">Start Time is required.</span>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="End Date ex : 17:00" type="text" name="endTime"
                                            autocomplete="off" [(ngModel)]="field.endTime" #endTime="ngModel"
                                            (keypress)="numberOnly($event)" required>
                                        <div class="alert alert-danger"
                                            *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)">
                                            <button mat-button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                                <i class="material-icons">close</i>
                                            </button>
                                            <span *ngIf="startTime.errors.required">End Time is required.</span>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="workDate" [owlDateTimeTrigger]="workDate"
                                            [owlDateTime]="workDate" [(ngModel)]="field.workDate" #workDate="ngModel"
                                            autocomplete="off" placeholder="Select Date Crew Schedul" required>
                                        <owl-date-time [pickerMode]="'dialog'" #workDate></owl-date-time>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" *ngIf="displaySave"
                                class="btn btn-success pull-right">Save</button>
                            <button mat-raised-button type="submit" *ngIf="!displaySave"
                                class="btn btn-info pull-right">update</button>
                            <button mat-raised-button type="button" *ngIf="!displaySave" (click)="doCancel()"
                                class="btn btn-danger pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Data Crew Schedul</h4>
                        <button mat-raised-button type="button" class="btn btn-primary pull-right">Show Schedul</button>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <th>Crew ID</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Date Work</th>
                                <th class="td-actions">Action</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listStaffSchedul">
                                    <td>{{data.crewId}}</td>
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td>{{data.dateWork | date:'EEEE , dd-MMMM-yyyy'}}</td>
                                    <td class="td-actions">
                                        <button mat-raised-button type="button" matTooltip="Edit Task"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon"
                                            (click)="doGetDataByID(data.id)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                                            (click)="doDelete(data.id)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>