<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Show Target Store</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="doPostData()" #addForm="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" [owlDateTimeTrigger]="dt"
                                            placeholder="Select Date Period" [owlDateTime]="dt" [formControl]="date"
                                            required>
                                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'"
                                            (yearSelected)="chosenYearHandler($event)"
                                            (monthSelected)="chosenMonthHandler($event, dt)" #dt="owlDateTime">
                                        </owl-date-time>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <label for="inputState">Type Store</label>
                                        <mat-select id="inputState" class="form-control" name="typeOrder"
                                            [(ngModel)]="field.typeOrder" #typeOrder="ngModel">
                                            <mat-option value="ETA">Mother Store</mat-option>
                                            <mat-option value="HMD">Home Delivery</mat-option>
                                            <mat-option value="DRT">Drive Thrue</mat-option>
                                            <mat-option value="CSP">Coffee Shop</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right"
                                (click)="doCancel()">Back</button>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right">Show</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h6>Target Sales {{title}}</h6>
                        <h6>Target Transaksi {{title}}</h6>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                <th>Date</th>
                                <th>Target Sales Last Year</th>
                                <th>Target Trans Last Year</th>
                                <th>Target Sales</th>
                                <th>Target Trans</th>
                                <th>Average Ticket</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataTarget">
                                    <td>{{data.cDate | date:'EEEE  dd-MMMM-yyyy'}}</td>
                                    <td>{{data.totalSales}}</td>
                                    <td>{{data.nRows}}</td>
                                    <td>{{(data.totalSales/totalAllSales) | number : '1.2-2'}}</td>
                                    <td>{{(data.nRows/totalAllTrans) | number : '1.2-2'}}</td>
                                    <td>{{(data.totalSales/totalAllSales)/(data.nRows/totalAllTrans) | number : '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <h4>Total</h4>
                                    </td>
                                    <td>{{totalAllSales}}</td>
                                    <td>{{totalAllTrans}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>