<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cleaning Task</h4>
                        <p class="card-category">{{currentDate | date:'EEEE , dd-MMMM-yyyy'}}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-danger">
                                    <th>Sunday</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of cleanTask; let i = index">
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Sunday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Monday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Tuesday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Wednesday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Thursday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Friday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                    <td width="200px">
                                        <span *ngIf="obj.days =='Saturday'">{{obj.cleanLocation}}:{{obj.cleanType}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>